### Handling Missing Values

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
data=pd.read_csv('Visadataset.csv')

#### segregating categorical and numerical variables

In [3]:
num_col=[fea for fea in data.columns if (data[fea].dtype !='O' and data[fea].dtype !=int)]
num_col

['no_of_employees', 'yr_of_estab', 'prevailing_wage']

In [4]:
data[num_col].isnull().mean()

no_of_employees    0.0
yr_of_estab        0.0
prevailing_wage    0.0
dtype: float64

#### Method 1: Performing Mean Imputation

In [6]:
for var in num_col:
    value=data[var].mean()
    data[var]=data[var].fillna(value)

#### # Checking after imputation

In [7]:
data[num_col].isnull().mean()

no_of_employees    0.0
yr_of_estab        0.0
prevailing_wage    0.0
dtype: float64

#### Method 2: Imputing Missing Values by mean using scikit-learn

In [8]:
import sklearn
from sklearn.impute import SimpleImputer
imputer= SimpleImputer(strategy='mean')

In [10]:
#segregating categorical and numerical variables
data=pd.read_csv('Visadataset.csv')
num_col=[fea for fea in data.columns if (data[fea].dtype !='O' and data[fea].dtype !=int)]

In [11]:
X=data[num_col]

In [12]:
# fitting SimpleImputer to the datafrane X
imputer.fit(X)

SimpleImputer()

In [13]:
X

       no_of_employees  yr_of_estab  prevailing_wage
0                14513         2007         592.2029
1                 2412         2002       83425.6500
2                44444         2008      122996.8600
3                   98         1897       83434.0300
4                 1082         2005      149907.3900
...                ...          ...              ...
25475             2601         2008       77092.5700
25476             3274         2006      279174.7900
25477             1121         1910      146298.8500
25478             1918         1887       86154.7700
25479             3195         1960       70876.9100

[25480 rows x 3 columns]

In [14]:
X=imputer.transform(X)
X

array([[ 14513.    ,   2007.    ,    592.2029],
       [  2412.    ,   2002.    ,  83425.65  ],
       [ 44444.    ,   2008.    , 122996.86  ],
       ...,
       [  1121.    ,   1910.    , 146298.85  ],
       [  1918.    ,   1887.    ,  86154.77  ],
       [  3195.    ,   1960.    ,  70876.91  ]])

#### dataframe after mean imputation by sklearn's simple Imputer

In [15]:
result=pd.DataFrame(X,columns=['no_of_employees',
'yr_of_estab',
'prevailing_wage',
])
result

       no_of_employees  yr_of_estab  prevailing_wage
0              14513.0       2007.0         592.2029
1               2412.0       2002.0       83425.6500
2              44444.0       2008.0      122996.8600
3                 98.0       1897.0       83434.0300
4               1082.0       2005.0      149907.3900
...                ...          ...              ...
25475           2601.0       2008.0       77092.5700
25476           3274.0       2006.0      279174.7900
25477           1121.0       1910.0      146298.8500
25478           1918.0       1887.0       86154.7700
25479           3195.0       1960.0       70876.9100

[25480 rows x 3 columns]

In [16]:
# Checking after imputation
result.isnull().mean()

no_of_employees    0.0
yr_of_estab        0.0
prevailing_wage    0.0
dtype: float64

#### Method 3: Replacing missing values in categorical features by the feature’s mode

In [41]:
cat_col=[fea for fea in data.columns if data[fea].dtype =='O'] 

cat_col

['TypeofContact',
 'Occupation',
 'Gender',
 'ProductPitched',
 'MaritalStatus',
 'Designation']

In [42]:
X=data[cat_col]
X

,TypeofContact,Occupation,Gender,ProductPitched,MaritalStatus,Designation
0,Self Enquiry,Salaried,Female,Deluxe,Single,Manager
1,Company Invited,Salaried,Male,Deluxe,Divorced,Manager
2,Self Enquiry,Free Lancer,Male,Basic,Single,Executive
3,Company Invited,Salaried,Female,Basic,Divorced,Executive
4,Self Enquiry,Small Business,Male,Basic,Divorced,Executive
...,...,...,...,...,...,...
4883,Self Enquiry,Small Business,Male,Deluxe,Unmarried,Manager
4884,Company Invited,Salaried,Male,Basic,Single,Executive
4885,Self Enquiry,Salaried,Female,Standard,Married,Senior Manager
4886,Self Enquiry,Small Business,Male,Basic,Single,Executive
4887,Self Enquiry,Salaried,Male,Basic,Unmarried,Executive

In [19]:
X.isnull().mean()

case_id                  0.0
continent                0.0
education_of_employee    0.0
has_job_experience       0.0
requires_job_training    0.0
region_of_employment     0.0
unit_of_wage             0.0
full_time_position       0.0
case_status              0.0
dtype: float64

No feature has missing value

#### Imputing using sklearn

In [20]:
X_1=data[cat_col]
imputer_1=SimpleImputer(strategy='most_frequent')
X_1.isnull().mean()

case_id                  0.0
continent                0.0
education_of_employee    0.0
has_job_experience       0.0
requires_job_training    0.0
region_of_employment     0.0
unit_of_wage             0.0
full_time_position       0.0
case_status              0.0
dtype: float64

In [21]:
imputer_1.fit(X_1)
X_1=imputer_1.transform(X_1)
X_1

array([['EZYV01', 'Asia', 'High School', ..., 'Hour', 'Y', 'Denied'],
       ['EZYV02', 'Asia', "Master's", ..., 'Year', 'Y', 'Certified'],
       ['EZYV03', 'Asia', "Bachelor's", ..., 'Year', 'Y', 'Denied'],
       ...,
       ['EZYV25478', 'Asia', "Master's", ..., 'Year', 'N', 'Certified'],
       ['EZYV25479', 'Asia', "Master's", ..., 'Year', 'Y', 'Certified'],
       ['EZYV25480', 'Asia', "Bachelor's", ..., 'Year', 'Y', 'Certified']],
      dtype=object)

#### Method 4:Replacing Missing Values with an arbitary number

In [28]:
data=pd.read_csv('Travel.csv')
num_col=[fea for fea in data.columns if (data[fea].dtype !='O' and data[fea].dtype !=int)]
#segregating categorical and numerical variables
X=data[num_col]

In [30]:
X.max()

CustomerID                  204887.0
ProdTaken                        1.0
Age                             61.0
CityTier                         3.0
DurationOfPitch                127.0
NumberOfPersonVisiting           5.0
NumberOfFollowups                6.0
PreferredPropertyStar            5.0
NumberOfTrips                   22.0
Passport                         1.0
PitchSatisfactionScore           5.0
OwnCar                           1.0
NumberOfChildrenVisiting         3.0
MonthlyIncome                98678.0
dtype: float64

In [29]:
X.isnull().sum()

CustomerID                    0
ProdTaken                     0
Age                         226
CityTier                      0
DurationOfPitch             251
NumberOfPersonVisiting        0
NumberOfFollowups            45
PreferredPropertyStar        26
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
MonthlyIncome               233
dtype: int64

In [31]:
# Replacing by Null values by an arbitary␣number 70 for Age feature because it is greater than the max value of Age
X['Age'].fillna(70,inplace=True)

In [32]:
# Checking after imputation
X.isnull().sum()

CustomerID                    0
ProdTaken                     0
Age                           0
CityTier                      0
DurationOfPitch             251
NumberOfPersonVisiting        0
NumberOfFollowups            45
PreferredPropertyStar        26
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
MonthlyIncome               233
dtype: int64

#### Using sklearn

In [33]:
imputer=SimpleImputer(strategy='constant',fill_value=70)
data=pd.read_csv('Travel.csv')
X_1=data['Age'].to_numpy() # Converting to Numpy array
X_1=X_1.reshape(-1, 1)

In [34]:
imputer.fit(X_1)

SimpleImputer(fill_value=70, strategy='constant')

In [35]:
X_1=imputer.transform(X_1)

In [37]:
# converting back to DataFrame from␣Numpy Array
result_1=pd.DataFrame(X_1,columns=['Age'])
    
result_1.isnull().sum()

Age    0
dtype: int64

In [38]:
result_1

       Age
0     41.0
1     49.0
2     37.0
3     33.0
4     70.0
...    ...
4883  49.0
4884  28.0
4885  52.0
4886  19.0
4887  36.0

[4888 rows x 1 columns]

#### Method 5: Replacing Missing Values in Categorical Variables

In [43]:
# We would replace missing values with a string "Missing"
data=pd.read_csv('Travel.csv')
X=data[cat_col] 
X.isnull().sum()

TypeofContact     25
Occupation         0
Gender             0
ProductPitched     0
MaritalStatus      0
Designation        0
dtype: int64

In [45]:
for var in cat_col:
    X[var].fillna('Missing',inplace=True)

In [46]:
# Checking after Imputation
X.isnull().sum()

TypeofContact     0
Occupation        0
Gender            0
ProductPitched    0
MaritalStatus     0
Designation       0
dtype: int64

In [47]:
# Using sklearn
imputer=SimpleImputer(strategy='constant',fill_value='Missing')
data=pd.read_csv('Travel.csv')
X=data[cat_col]
imputer.fit(X)

SimpleImputer(fill_value='Missing', strategy='constant')

In [48]:
 X=imputer.transform(X)

In [49]:
X

array([['Self Enquiry', 'Salaried', 'Female', 'Deluxe', 'Single',
        'Manager'],
       ['Company Invited', 'Salaried', 'Male', 'Deluxe', 'Divorced',
        'Manager'],
       ['Self Enquiry', 'Free Lancer', 'Male', 'Basic', 'Single',
        'Executive'],
       ...,
       ['Self Enquiry', 'Salaried', 'Female', 'Standard', 'Married',
        'Senior Manager'],
       ['Self Enquiry', 'Small Business', 'Male', 'Basic', 'Single',
        'Executive'],
       ['Self Enquiry', 'Salaried', 'Male', 'Basic', 'Unmarried',
        'Executive']], dtype=object)

In [50]:
# converting back to DataFrame from Numpy Array
result_1=pd.DataFrame(X)
result_1.isnull().sum() # Checking after Imputation

0    0
1    0
2    0
3    0
4    0
5    0
dtype: int64

Method 6:
Replacing missing values with a value at the end of the distribution
Replacing missing values with a value at the end of the distribution, is equivalent to replacing with
an arbitary value manually. But in this case we do it by automatically selecting as those at the
very end of the variable distribution. As per the IQR proximity rule,missing values are replaced
with q3+1.5(IQR) at the right tail or by q1-1.5(IQR) at the left tail.

In [51]:
X=data[num_col]
X.isnull().sum()

CustomerID                    0
ProdTaken                     0
Age                         226
CityTier                      0
DurationOfPitch             251
NumberOfPersonVisiting        0
NumberOfFollowups            45
PreferredPropertyStar        26
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
MonthlyIncome               233
dtype: int64

In [53]:
for var in num_col:
    IQR =X[var].quantile(0.75)-X[var].quantile(0.25)
    value=X[var].quantile(0.75)+(1.5*IQR)
    X[var]=X[var].fillna(value)

In [54]:
X

,CustomerID,ProdTaken,Age,CityTier,DurationOfPitch,NumberOfPersonVisiting,NumberOfFollowups,PreferredPropertyStar,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,MonthlyIncome
0,200000,1,41.0,3,6.0,3,3.0,3.0,1.0,1,2,1,0.0,20993.0
1,200001,0,49.0,1,14.0,3,4.0,4.0,2.0,0,3,1,2.0,20130.0
2,200002,1,37.0,1,8.0,3,4.0,3.0,7.0,1,3,0,0.0,17090.0
3,200003,0,33.0,1,9.0,2,3.0,3.0,2.0,1,5,1,1.0,17909.0
4,200004,0,63.5,1,8.0,2,3.0,4.0,1.0,0,5,1,0.0,18468.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,204883,1,49.0,3,9.0,3,5.0,4.0,2.0,1,1,1,1.0,26576.0
4884,204884,1,28.0,1,31.0,4,5.0,3.0,3.0,1,3,1,2.0,21212.0
4885,204885,1,52.0,3,17.0,4,4.0,4.0,7.0,0,1,1,3.0,31820.0
4886,204886,1,19.0,3,16.0,3,4.0,3.0,3.0,0,5,0,2.0,20289.0
4887,204887,1,36.0,1,14.0,4,4.0,4.0,3.0,1,3,1,2.0,24041.0

In [55]:
X.isnull().sum()# Checking after imputation

CustomerID                  0
ProdTaken                   0
Age                         0
CityTier                    0
DurationOfPitch             0
NumberOfPersonVisiting      0
NumberOfFollowups           0
PreferredPropertyStar       0
NumberOfTrips               0
Passport                    0
PitchSatisfactionScore      0
OwnCar                      0
NumberOfChildrenVisiting    0
MonthlyIncome               0
dtype: int64

In [57]:
pip install feature-engine

Collecting feature-engine
  Downloading feature_engine-1.4.1-py2.py3-none-any.whl (276 kB)
Requirement already satisfied: statsmodels>=0.11.1 in d:\ineuron\lib\site-packages (from feature-engine) (0.13.2)
Requirement already satisfied: scikit-learn>=1.0.0 in d:\ineuron\lib\site-packages (from feature-engine) (1.0.2)
Requirement already satisfied: pandas>=1.0.3 in d:\ineuron\lib\site-packages (from feature-engine) (1.4.2)
Requirement already satisfied: numpy>=1.18.2 in d:\ineuron\lib\site-packages (from feature-engine) (1.21.5)
Requirement already satisfied: scipy>=1.4.1 in d:\ineuron\lib\site-packages (from feature-engine) (1.7.3)
Requirement already satisfied: pytz>=2020.1 in d:\ineuron\lib\site-packages (from pandas>=1.0.3->feature-engine) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in d:\ineuron\lib\site-packages (from pandas>=1.0.3->feature-engine) (2.8.2)
Requirement already satisfied: six>=1.5 in d:\ineuron\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.0.3->feature-engine) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\ineuron\lib\site-packages (from scikit-learn>=1.0.0->feature-engine) (2.2.0)
Requirement already satisfied: joblib>=0.11 in d:\ineuron\lib\site-packages (from scikit-learn>=1.0.0->feature-engine) (1.1.0)
Requirement already satisfied: patsy>=0.5.2 in d:\ineuron\lib\site-packages (from statsmodels>=0.11.1->feature-engine) (0.5.2)
Requirement already satisfied: packaging>=21.3 in d:\ineuron\lib\site-packages (from statsmodels>=0.11.1->feature-engine) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in d:\ineuron\lib\site-packages (from packaging>=21.3->statsmodels>=0.11.1->feature-engine) (3.0.4)
Installing collected packages: feature-engine
Successfully installed feature-engine-1.4.1
Note: you may need to restart the kernel to use updated packages.

In [58]:
# Doing the same with feature Engine
X=data[num_col]
import feature_engine
from feature_engine.imputation import EndTailImputer

In [59]:
# set up the imputer
tail_imputer = EndTailImputer(imputation_method='gaussian',
tail='right',
fold=3,
variables=num_col)
# fit the imputer
tail_imputer.fit(X)

EndTailImputer(variables=['CustomerID', 'ProdTaken', 'Age', 'CityTier',
                          'DurationOfPitch', 'NumberOfPersonVisiting',
                          'NumberOfFollowups', 'PreferredPropertyStar',
                          'NumberOfTrips', 'Passport', 'PitchSatisfactionScore',
                          'OwnCar', 'NumberOfChildrenVisiting',
                          'MonthlyIncome'])

In [60]:
X=tail_imputer.transform(X)
X

,CustomerID,ProdTaken,Age,CityTier,DurationOfPitch,NumberOfPersonVisiting,NumberOfFollowups,PreferredPropertyStar,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,MonthlyIncome
0,200000,1,41.000000,3,6.0,3,3.0,3.0,1.0,1,2,1,0.0,20993.0
1,200001,0,49.000000,1,14.0,3,4.0,4.0,2.0,0,3,1,2.0,20130.0
2,200002,1,37.000000,1,8.0,3,4.0,3.0,7.0,1,3,0,0.0,17090.0
3,200003,0,33.000000,1,9.0,2,3.0,3.0,2.0,1,5,1,1.0,17909.0
4,200004,0,65.571426,1,8.0,2,3.0,4.0,1.0,0,5,1,0.0,18468.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,204883,1,49.000000,3,9.0,3,5.0,4.0,2.0,1,1,1,1.0,26576.0
4884,204884,1,28.000000,1,31.0,4,5.0,3.0,3.0,1,3,1,2.0,21212.0
4885,204885,1,52.000000,3,17.0,4,4.0,4.0,7.0,0,1,1,3.0,31820.0
4886,204886,1,19.000000,3,16.0,3,4.0,3.0,3.0,0,5,0,2.0,20289.0
4887,204887,1,36.000000,1,14.0,4,4.0,4.0,3.0,1,3,1,2.0,24041.0

Method 7: Multivariate Imputation by Chained Equations
    
Multivariate Imputation by Chained Equations is a multiple Imputation Technique that models
each variable with missing values as a function of the remaining variables and uses that estimate
for Impputation

A more sophisticated approach is to use the IterativeImputer class, which models each feature with
missing values as a function of other features, and uses that estimate for imputation. It does so in
an iterated round-robin fashion: at each step, a feature column is designated as output y and the
other feature columns are treated as inputs X. A regressor is fit on (X, y) for known y. Then, the
regressor is used to predict the missing values of y. This is done for each feature in an iterative
fashion, and then is repeated for max_iter imputation rounds. The results of the final imputation
round are returned.

In [62]:
import numpy as np
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [63]:
X=data[num_col]
X

,CustomerID,ProdTaken,Age,CityTier,DurationOfPitch,NumberOfPersonVisiting,NumberOfFollowups,PreferredPropertyStar,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,MonthlyIncome
0,200000,1,41.0,3,6.0,3,3.0,3.0,1.0,1,2,1,0.0,20993.0
1,200001,0,49.0,1,14.0,3,4.0,4.0,2.0,0,3,1,2.0,20130.0
2,200002,1,37.0,1,8.0,3,4.0,3.0,7.0,1,3,0,0.0,17090.0
3,200003,0,33.0,1,9.0,2,3.0,3.0,2.0,1,5,1,1.0,17909.0
4,200004,0,NaN,1,8.0,2,3.0,4.0,1.0,0,5,1,0.0,18468.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,204883,1,49.0,3,9.0,3,5.0,4.0,2.0,1,1,1,1.0,26576.0
4884,204884,1,28.0,1,31.0,4,5.0,3.0,3.0,1,3,1,2.0,21212.0
4885,204885,1,52.0,3,17.0,4,4.0,4.0,7.0,0,1,1,3.0,31820.0
4886,204886,1,19.0,3,16.0,3,4.0,3.0,3.0,0,5,0,2.0,20289.0
4887,204887,1,36.0,1,14.0,4,4.0,4.0,3.0,1,3,1,2.0,24041.0

In [64]:
X.isnull().sum()

CustomerID                    0
ProdTaken                     0
Age                         226
CityTier                      0
DurationOfPitch             251
NumberOfPersonVisiting        0
NumberOfFollowups            45
PreferredPropertyStar        26
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
MonthlyIncome               233
dtype: int64

In [65]:
imp = IterativeImputer(max_iter=10,random_state=0)

In [66]:
imp.fit(X)

IterativeImputer(random_state=0)

In [67]:
X=imp.transform(X)
X

array([[2.00000e+05, 1.00000e+00, 4.10000e+01, ..., 1.00000e+00,
        0.00000e+00, 2.09930e+04],
       [2.00001e+05, 0.00000e+00, 4.90000e+01, ..., 1.00000e+00,
        2.00000e+00, 2.01300e+04],
       [2.00002e+05, 1.00000e+00, 3.70000e+01, ..., 0.00000e+00,
        0.00000e+00, 1.70900e+04],
       ...,
       [2.04885e+05, 1.00000e+00, 5.20000e+01, ..., 1.00000e+00,
        3.00000e+00, 3.18200e+04],
       [2.04886e+05, 1.00000e+00, 1.90000e+01, ..., 0.00000e+00,
        2.00000e+00, 2.02890e+04],
       [2.04887e+05, 1.00000e+00, 3.60000e+01, ..., 1.00000e+00,
        2.00000e+00, 2.40410e+04]])

In [68]:
# Converting back to a DataFrame
result_1=pd.DataFrame(X)
result_1.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
dtype: int64